body {
    background-color:  #00ffdc;
}
section{
    text-align: center;
    margin-top: 100px;
}

.red,.blue, .green, .white{
    border: none;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    background-position: center;
    padding: 45px 28px;
    background-repeat: no-repeat;


}
.red{
    background-image: url(images/red.png);

}
.blue{
    background-image: url(images/blue.png);
}
.green{
    background-image: url(images/green.png);


}

.white{
    background-image: url(images/yellow.png);


}
.number, .lost, .target, .win{
    background-color: rgb(189 189 189);
    padding: 25px 0px;
}

.number{
    color: red;
    font-size: 25px;

}

.lost{
    color: #5b5be9;
    font-size: 25px;

}


.target{
    color: #5bb914;
    font-size: 25px;

}

.win{
    color:  #ff7703;
    font-size: 25px;

}